@page "/BarChart"

<h1>Bar chart</h1>

<p>
    A bar chart is an XY chart with a bar layer, in which the data is displayed as vertical bars which have a height corresponding to the data values. As can
    be seen in <a href="/ChartBasics">chart basics</a>, a bar layer can be either stacked or unstacked. A stacked bar layer divides its bars into a positive
    stack of bars displayed above the 0 line and a negative stack of bars below the 0 line, so that positive and negative values are always visible without
    overlap. For bar charts, you can also use the customization parameters listed below.
</p>

<ul>
    <li>
        <code>ClearancePercentage</code> is the amount of white space on either side of the group of bars for an index, expressed as a percentage of the total
        amount of space available for this index
    </li>
    <li>
        <code>GapPercentage</code> is the amount of white space between each bar for an index, expressed as a percentage of the total amount of space available
        for this index; this value is ignored when the bar layer is stacked
    </li>
</ul>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="isStacked">Stack mode</label>
        <select class="form-select" id="isStacked" @onchange="args => IsStacked = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!IsStacked)">Unstacked</option>
            <option value="true" selected="@IsStacked">Stacked</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="clearancePercentage">Clearance percentage</label>
        <input type="number" class="form-control" id="clearancePercentage" @bind-value="@ClearancePercentage" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="gapPercentage">Gap percentage</label>
        <input type="number" class="form-control" id="gapPercentage" @bind-value="@GapPercentage" />
    </div>
</div>

<XYChart Labels="@Labels">
    <Canvas Height="500" Width="1000" XAxisLabelHeight="50" YAxisLabelWidth="75" Padding="25" />
    <BarLayer IsStacked="IsStacked" ClearancePercentage="ClearancePercentage" GapPercentage="GapPercentage">
        @foreach (var dataSeries in DataSeries) {
            <DataSeries DataPoints="dataSeries" />
        }
    </BarLayer>
</XYChart>

<h2 class="mt-3">Source data</h2>

<table class="table">
    <tr>
        @foreach (var label in Labels) {
            <th>@label</th>
        }
    </tr>

    @foreach (var dataSeries in DataSeries) {
        <tr>
            @foreach (var dataPoint in dataSeries) {
                <td>@(dataPoint?.ToString("#,##0") ?? "-")</td>
            }
        </tr>
    }
</table>

@code {
    private bool IsStacked { get; set; } = false;
    private decimal ClearancePercentage { get; set; } = 10M;
    private decimal GapPercentage { get; set; } = 5M;
    private List<string> Labels { get; set; } = new() { "Foo", "Bar", "Baz", "Quux", "Quuux" };
    private List<List<decimal?>> DataSeries { get; set; } = new() {
        new() { 11000, 19000, 31500, -2500, 9500 },
        new() { 21000, -12000, 15500, -4000, 3500 }
    };
}
