@page "/BarChart"

<h1>Bar chart</h1>

<p>
    A bar chart is an XY chart with a bar layer, in which the data is displayed as vertical bars which have a height corresponding to the data values. Bar
    charts offer the customization parameters listed below.
</p>

<ul>
    <li><code>IsStacked</code> toggles stacking of data points; a stacked line layer stacks positive and negative values together</li>
    <li><code>ShowDataLabels</code> toggles visibility of labels with the value at each data point</li>
    <li>
        <code>ClearancePercentage</code> is the amount of white space on either side of the group of bars for an index, expressed as a percentage of the total
        amount of space available for this index
    </li>
    <li>
        <code>GapPercentage</code> is the amount of white space between each bar for an index, expressed as a percentage of the total amount of space available
        for this index; this value is ignored when the bar layer is stacked
    </li>
</ul>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="isStacked">Stack mode</label>
        <select class="form-select" id="isStacked" @onchange="args => IsStacked = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!IsStacked)">Unstacked</option>
            <option value="true" selected="@IsStacked">Stacked</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="showDataLabels">Data labels</label>
        <select class="form-select" id="showDataLabels" @onchange="args => ShowDataLabels = bool.Parse(args.Value?.ToString()!)">
            <option value="true" selected="@ShowDataLabels">Show</option>
            <option value="false" selected="@(!ShowDataLabels)">Hide</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="clearancePercentage">Clearance percentage</label>
        <input type="number" class="form-control" id="clearancePercentage" @bind-value="@ClearancePercentage" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="gapPercentage">Gap percentage</label>
        <input type="number" class="form-control" id="gapPercentage" @bind-value="@GapPercentage" />
    </div>
</div>

<div class="d-inline-block">
    <XYChart Labels="ExampleData.Labels">
        <BarLayer IsStacked="IsStacked" ShowDataLabels="ShowDataLabels" ClearancePercentage="ClearancePercentage" GapPercentage="GapPercentage">

            @foreach (var data in ExampleData.BarData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </BarLayer>
    </XYChart>

    <div class="text-end">
        (<a href="/SourceData">source data</a>)
    </div>
</div>

@code {
    private bool IsStacked { get; set; } = false;
    private bool ShowDataLabels { get; set; } = false;
    private decimal ClearancePercentage { get; set; } = 10M;
    private decimal GapPercentage { get; set; } = 5M;
}
