@page "/Canvas"

<h1>Canvas</h1>

<p>
    The canvas component is the place where all general chart dimensions and number format strings can be set. All dimension settings are in pixels. Number
    format strings can be standard or custom numeric format strings; see the
    <a href="https://learn.microsoft.com/en-us/dotnet/standard/base-types/formatting-types"> Microsoft documentation on formatting</a> for more information.
</p>

<ul>
    <li>
        <code>AutoSizeWidthIsEnabled</code> toggles the automatic calculation of chart width; if enabled <code>Width</code> will be ignored
    </li>
    <li><code>Width</code> is the total width of the chart, including axis labels and padding</li>
    <li><code>Height</code> is the total height of the chart, including axis labels and padding</li>
    <li><code>Padding</code> is the distance between the canvas edge and any chart elements</li>
    <li>
        <code>AutoSizeXAxisLabelsIsEnabled</code> toggles the automatic calculation of x-axis label height; if enabled <code>XAxisLabelHeight</code> will be
        ignored
    </li>
    <li><code>XAxisLabelHeight</code> is the vertical room reserved for labels on the x-axis</li>
    <li>
        <code>AutoSizeYAxisLabelsIsEnabled</code> toggles the automatic calculation of y-axis label width; if enabled <code>YAxisLabelWidth</code> will be
        ignored
    </li>
    <li><code>YAxisLabelWidth</code> is the horizontal room reserved for labels on the y-axis, including the multiplier if applicable</li>
    <li><code>YAxisLabelFormat</code> is the format string for the numeric labels on the y-axis</li>
    <li><code>YAxisMultiplierFormat</code> is the format string for the y-axis multiplier, if it's visible</li>
    <li><code>DataLabelFormat</code> is the format string for the numeric data labels optionally displayed at each data point</li>
</ul>

<div class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="autoSizeWidthIsEnabled">Auto size width</label>
        <select class="form-select" id="autoSizeWidthIsEnabled" @onchange="args => AutoSizeWidthIsEnabled = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!AutoSizeWidthIsEnabled)">Disabled</option>
            <option value="true" selected="@AutoSizeWidthIsEnabled">Enabled</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="width">Width</label>
        <input type="number" class="form-control" id="width" @bind-value="@Width" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="height">Height</label>
        <input type="number" class="form-control" id="height" @bind-value="@Height" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="padding">Padding</label>
        <input type="number" class="form-control" id="padding" @bind-value="@Padding" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="autoSizeXAxisLabelsIsEnabled">Auto size x-axis labels</label>
        <select class="form-select" id="autoSizeXAxisLabelsIsEnabled" @onchange="args => AutoSizeXAxisLabelsIsEnabled = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!AutoSizeXAxisLabelsIsEnabled)">Disabled</option>
            <option value="true" selected="@AutoSizeXAxisLabelsIsEnabled">Enabled</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="xAxisLabelHeight">X-axis label height</label>
        <input type="number" class="form-control" id="xAxisLabelHeight" @bind-value="@XAxisLabelHeight" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="autoSizeYAxisLabelsIsEnabled">Auto size y-axis labels</label>
        <select class="form-select" id="autoSizeYAxisLabelsIsEnabled" @onchange="args => AutoSizeYAxisLabelsIsEnabled = bool.Parse(args.Value?.ToString()!)">
            <option value="false" selected="@(!AutoSizeYAxisLabelsIsEnabled)">Disabled</option>
            <option value="true" selected="@AutoSizeYAxisLabelsIsEnabled">Enabled</option>
        </select>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="yAxisLabelWidth">Y-axis label width</label>
        <input type="number" class="form-control" id="yAxisLabelWidth" @bind-value="@YAxisLabelWidth" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="yAxisLabelFormat">Y-axis label format</label>
        <input type="text" class="form-control" id="yAxisLabelFormat" @bind-value="@YAxisLabelFormat" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="yAxisMultiplierFormat">Y-axis multiplier format</label>
        <input type="text" class="form-control" id="yAxisMultiplierFormat" @bind-value="@YAxisMultiplierFormat" />
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
        <label class="form-label" for="dataLabelFormat">Data label format</label>
        <input type="text" class="form-control" id="dataLabelFormat" @bind-value="@DataLabelFormat" />
    </div>
</div>

<div class="@(AutoSizeWidthIsEnabled ? "" : "d-inline-block")">
    <XYChart Labels="@ExampleData.Labels">
        <Canvas AutoSizeWidthIsEnabled="AutoSizeWidthIsEnabled"
                Width="Width"
                Height="Height"
                Padding="Padding"
                AutoSizeXAxisLabelsIsEnabled="AutoSizeXAxisLabelsIsEnabled"
                XAxisLabelHeight="XAxisLabelHeight"
                AutoSizeYAxisLabelsIsEnabled="AutoSizeYAxisLabelsIsEnabled"
                YAxisLabelWidth="YAxisLabelWidth"
                YAxisLabelFormat="@YAxisLabelFormat"
                YAxisMultiplierFormat="@YAxisMultiplierFormat"
                DataLabelFormat="@DataLabelFormat" />

        <PlotArea Multiplier="1000" />

        <AreaLayer ShowDataLabels="true">
            @foreach (var data in ExampleData.AreaData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </AreaLayer>
        <BarLayer ShowDataLabels="true">
            @foreach (var data in ExampleData.BarData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </BarLayer>
        <LineLayer ShowDataLabels="true">
            @foreach (var data in ExampleData.LineData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </LineLayer>
    </XYChart>

    <div class="text-end">
        (<a href="/SourceData">source data</a>)
    </div>
</div>

@code {
    private bool AutoSizeWidthIsEnabled { get; set; } = Canvas.DefaultAutoSizeWidthIsEnabled;
    private int Width { get; set; } = Canvas.DefaultWidth;
    private int Height { get; set; } = Canvas.DefaultHeight;
    private int Padding { get; set; } = Canvas.DefaultPadding;
    private bool AutoSizeXAxisLabelsIsEnabled { get; set; } = Canvas.DefaultAutoSizeXAxisLabelsIsEnabled;
    private int XAxisLabelHeight { get; set; } = Canvas.DefaultXAxisLabelHeight;
    private bool AutoSizeYAxisLabelsIsEnabled { get; set; } = Canvas.DefaultAutoSizeYAxisLabelsIsEnabled;
    private int YAxisLabelWidth { get; set; } = Canvas.DefaultYAxisLabelWidth;
    private string YAxisLabelFormat { get; set; } = Canvas.DefaultYAxisLabelFormat;
    private string YAxisMultiplierFormat { get; set; } = Canvas.DefaultYAxisMultiplierFormat;
    private string DataLabelFormat { get; set; } = Canvas.DefaultDataLabelFormat;
}
