@page "/Legend"

<h1>Legend</h1>

<div class="d-inline-block">
    <XYChart Labels="@ExampleData.Labels">
        <Legend IsEnabled="IsEnabled" Position="Position" Alignment="Alignment" Height="Height" ItemWidth="ItemWidth" ItemHeight="ItemHeight" KeySize="KeySize" />

        <AreaLayer>
            @foreach (var data in ExampleData.AreaData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </AreaLayer>
        <BarLayer>
            @foreach (var data in ExampleData.BarData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </BarLayer>
        <LineLayer>
            @foreach (var data in ExampleData.LineData) {
                <DataSeries Name="@data.Name" Color="@data.Color" DataPoints="data.DataPoints" />
            }
        </LineLayer>
    </XYChart>

    <div class="text-end">
        (<a href="/SourceData">source data</a>)
    </div>
</div>

@code {
    private bool IsEnabled { get; set; } = Legend.DefaultIsEnabled;
    private LegendPosition Position { get; set; } = Legend.DefaultPosition;
    private LegendAlignment Alignment { get; set; } = Legend.DefaultAlignment;
    private int Height { get; set; } = Legend.DefaultHeight;
    private int ItemWidth { get; set; } = Legend.DefaultItemWidth;
    private int ItemHeight { get; set; } = Legend.DefaultItemHeight;
    private int KeySize { get; set; } = Legend.DefaultKeySize;
}
